# Remove ".sample" of this file.
# Input your access and secret keys.
[UPBIT]
UPBIT_OPEN_API_ACCESS_KEY=YOURKEY
UPBIT_OPEN_API_SECRET_KEY=YOURKEY

# STV(Stock Trading Volume): 거래량
[ORDER]
# 분 캔들 조회 체크시간 간격 (s) default: 5.0 (너무 작으면 API 할당량 초과)
CHECK_INTERVAL=5.0

# 분 캔들 조회 개수 default: 5 (개수가 많을 수록 신중함)
CHECK_COUNT=5

# 거래량 급증 탐지시간 (s) default: 20.0 (작을 수록 신중함) (60/SURGE_STV_DETECTION_TIME 배 거래량 급증판단)
SURGE_STV_DETECTION_TIME=20.0

# 매수 후 매도 대기시간 (s) default: 40.0 (작은 값 -> low risk low return)
WAIT_TIME=40.0

# 모니터링할 코인 개수 (너무 많으면 API 할당량 초과)
NUMBER_OF_COINS_TO_MONITOR=10

# 거래당 매수할 보유krw 비율 (%) default:30
PERCENTS_OF_BUYING=30

# 상승 탐지 비율 (%)
DETERMINE_PERCENTS_OF_RISING=2