# Remove ".sample" of this file.
# Input your access and secret keys.
[UPBIT]
UPBIT_OPEN_API_ACCESS_KEY=
UPBIT_OPEN_API_SECRET_KEY=

# STV(Stock Trading Volume): 거래량
[ORDER]
# 분 캔들 조회 개수 (개수가 많을 수록 신중함)
CHECK_COUNT=4

# 거래량 급증 탐지시간 (s) (작을 수록 신중함) (60/SURGE_STV_DETECTION_TIME 배 거래량 급증판단)
SURGE_STV_DETECTION_TIME=12.0

# 매수 후 매도 대기시간 (s) (작은 값 -> low risk low return)
WAIT_TIME=15.0

# 모니터링할 코인
COINS_LIST=AQT SBD BTC ETH XRP ADA DKA CBK GAS XEM CRO DOT META NPXS SSX TON EOS ENJ FCT2 STEEM DOGE BORA BCH PCI LSK OBSR XLM DMT STRAX IOST SXP BTT QTCON SAND HBAR KAVA LTC MOC MLK XTZ MARO MED BTG PLA
COINS_LIST2=LINK HUNT SNT TT SPND GLM CHZ SRM TFUEL HUM MFT NEO BSV TRX AHT ANKR ZRX ZIL MBL ICX SOLVE HIVE CRE MVL ATOM PXL ONT IQ QTUM OMG ARK MANA RFR GRS LAMB ETC SRN VET STMX UPP POLY ONG WAXP LBC STORJ EMC2 TSHP KMD ELF EDR

# 거래당 매수할 보유krw 비율 (%)
PERCENTS_OF_BUYING=45

# 상승 탐지 비율 (%)
DETERMINE_PERCENTS_OF_RISING=1.0

# 손절 타이밍 (%)
PERCENT_OF_STOP_LOSS=1.0