# Remove ".sample" of this file.
# Input your access and secret keys.
[UPBIT]
UPBIT_OPEN_API_ACCESS_KEY=
UPBIT_OPEN_API_SECRET_KEY=

[STRATEGY]
SM_TRADING_STRATEGY=true

# TODO 변동성돌파전략
VOLATILITY_BREAKOUT_STRATEGY=false

# TODO 역추세전략
NONAME=false


# SM(상민) Trading Algorithm ordering config.
[SM_ORDER]
# 모니터링할 코인 설정 (get_market_code의 div_cnt, maximum 변수) (0 <= COIN_DIV_SELECT < COIN_DIV_CNT)
COIN_DIV_CNT=3
COIN_DIV_SELECT=2
COIN_MAXIMUM=20

# 분 캔들 조회 개수 default: 5 (개수가 많을 수록 신중함)
CHECK_COUNT=3

# 거래량 급증 탐지시간 (s) default: 15.0 (작을 수록 신중함) (60/SURGE_STV_DETECTION_TIME 배 거래량 급증판단)
SURGE_STV_DETECTION_TIME=7.5

# 매수 후 매도 대기시간 (s) default: 20.0 (작은 값 -> low risk low return)
WAIT_TIME=20.0

# 거래당 매수할 보유krw 비율 (%) default:30
PERCENTS_OF_BUYING=50

# 상승 탐지 비율 (%)
DETERMINE_PERCENTS_OF_RISING=1.1

# 손절 타이밍 (%)
PERCENT_OF_STOP_LOSS=1.0